@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.2);
  }
  50% {
    transform: scaleX(0.55);
  }
  75% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes disappear {
  from {
    transform: scale(1) rotate(360deg);
  }
  to {
    transform: scale(0) rotate(-360deg);
  }
}
@keyframes container {
  0% {
    transform: translateX(-1450px);
  }
  100% {
    transform: translate(0, -100vh);
  }
}
@keyframes menuslide {
  0%, 30% {
    opacity: 0;
    transform: translateY(0);
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 1.8rem;
  box-shadow: 3px 3px 7px #c5c3c3;
}
@media screen and (min-width: 700px) {
  .header {
    height: 70px;
    font-size: 2rem;
    padding-left: 1%;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    height: 80px;
    font-size: 2.3rem;
    padding-left: 0;
  }
}

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #353131;
}
@media screen and (min-width: 700px) {
  .footer {
    height: 210px;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1100px) {
  .footer {
    height: 260px;
  }
}
.footer__header {
  width: 50%;
  height: 10%;
  font-family: "Shrikhand";
  font-size: 1.2rem;
  color: white;
  margin: 1.8rem 0 2rem 1.8rem;
}
@media screen and (min-width: 700px) {
  .footer__header {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.2rem;
  }
}
@media screen and (min-width: 1100px) {
  .footer__header {
    font-size: 1.6rem;
    margin-top: 2.8rem;
  }
}
.footer__ctr {
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
@media screen and (min-width: 700px) {
  .footer__ctr {
    width: 75%;
    height: 55%;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .footer__ctr {
    width: 70%;
    height: 45%;
    margin-right: 4rem;
  }
}
.footer__ctr__texteicon {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 700px) {
  .footer__ctr__texteicon {
    width: 25%;
  }
}
@media screen and (min-width: 1100px) {
  .footer__ctr__texteicon {
    width: 20%;
  }
}
.footer__ctr i {
  font-size: 1rem;
  color: white;
  margin-left: 0.8rem;
}
.footer__ctr .texteicon {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: white;
  margin-left: 0.7rem;
}
@media screen and (min-width: 1100px) {
  .footer__ctr .texteicon {
    font-size: 1.1rem;
  }
}
.footer__ctr__texte {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  color: white;
  margin-left: 0.8rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 1100px) {
  .footer__ctr__texte {
    font-size: 1.1rem;
  }
}
.footer__ctr a {
  text-decoration: none;
}

.btn {
  width: 70%;
  height: 16%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-radius: 2rem;
  box-shadow: 3px 5px 6px #dad8d8;
}
.btn:hover {
  background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  box-shadow: 3px 5px 6px #b5b1b1;
}
@media screen and (min-width: 700px) {
  .btn {
    width: 50%;
    height: 18%;
  }
}
@media screen and (min-width: 1100px) {
  .btn {
    width: 37%;
    height: 23%;
  }
}

.heart {
  width: 25%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heart:hover .far {
  opacity: 0;
  transition: all 1s linear;
}
.heart:hover .fas {
  opacity: 1;
  transition: all 1s linear;
}

.heart-menu {
  margin-right: 0.5rem;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .heart-menu {
    margin-left: 3rem;
  }
}
.heart-menu:hover .far {
  opacity: 0;
  transition: all 1s linear;
}
.heart-menu:hover .fas {
  opacity: 1;
  transition: all 1s linear;
}

.heartempty {
  font-size: 1.5rem;
  color: black;
  position: absolute;
  opacity: 1;
}

.heartfull {
  font-size: 1.5rem;
  opacity: 0;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

.loaderctr {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 0.8s 1.5s forwards;
}

.loader {
  border: 0.4rem solid black;
  border-radius: 0.8rem;
  padding: 0.2rem;
}
.loader__bar {
  background-color: #99e2d0;
  border-radius: 0.9rem;
  width: 20rem;
  height: 1.2rem;
  animation: progress 1.3s 200ms both;
  transform-origin: left;
}
@media screen and (min-width: 700px) {
  .loader__bar {
    width: 25rem;
    height: 1.7rem;
  }
}

.container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  animation: container 0ms 2.3s both;
}

.location {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  background-color: #ededed;
  margin-top: 0.2rem;
}
@media screen and (min-width: 700px) {
  .location {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1100px) {
  .location {
    font-size: 1.3rem;
  }
}
.location__texte {
  margin-left: 1rem;
}

.intro {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
.intro__header {
  width: 80%;
  height: 27%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.intro__texte {
  height: 18%;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 700px) {
  .intro__texte {
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .intro__texte {
    margin-top: -1%;
    width: 35%;
  }
}

.mid {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 13%;
}
@media screen and (min-width: 700px) {
  .mid {
    height: 470px;
  }
}
@media screen and (min-width: 1100px) {
  .mid {
    margin-top: 7%;
  }
}
.mid__header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.6rem;
  width: 70%;
  height: 10%;
  margin-left: 4%;
}
@media screen and (min-width: 700px) {
  .mid__header {
    width: 50%;
    height: 10%;
    margin-left: 19%;
  }
}
@media screen and (min-width: 1100px) {
  .mid__header {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mid__ctr {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1100px) {
  .mid__ctr {
    width: 100%;
    height: 95%;
  }
}
.mid__ctr__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  height: 23%;
  border-radius: 1.5rem;
  background-color: #f7f7f7;
  box-shadow: 3px 5px 10px #dad8d8;
}
.mid__ctr__step:hover {
  background-color: #f2eafb;
}
.mid__ctr__step:hover i {
  color: #9356dc;
}
@media screen and (min-width: 700px) {
  .mid__ctr__step {
    width: 60%;
    height: 27%;
  }
}
@media screen and (min-width: 1100px) {
  .mid__ctr__step {
    width: 40%;
    height: 26%;
  }
}
.mid__ctr .step__num {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
  background-color: #9356dc;
  border-radius: 2rem;
  margin-left: -0.6rem;
  padding: 0.2rem;
}
.mid__ctr i {
  color: #706e6e;
  margin-left: 1.7rem;
}
@media screen and (min-width: 700px) {
  .mid__ctr i {
    margin-left: 2.5rem;
  }
}
.mid__ctr .step__texte {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  margin-left: 2rem;
}
@media screen and (min-width: 700px) {
  .mid__ctr .step__texte {
    margin-left: 2.5rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1100px) {
  .mid__ctr .step__texte {
    font-size: 1.2rem;
  }
}

.lower {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
  margin-top: 20%;
}
@media screen and (min-width: 1100px) {
  .lower {
    height: 950px;
    margin-top: 8%;
  }
}
.lower__header {
  width: 60%;
  height: 3%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.5rem;
  margin: 3.5rem 0 1rem 1rem;
}
@media screen and (min-width: 700px) {
  .lower__header {
    width: 45%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .lower__header {
    width: 15%;
    height: 7%;
    font-size: 1.8rem;
    margin: 3rem 0 0 3.5rem;
  }
}
.lower__ctr__menu {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1100px) {
  .lower__ctr__menu {
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
  }
}
.lower a {
  text-decoration: none;
}
.lower .menu {
  width: 90%;
  height: 23%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 3px 5px 6px #dad8d8;
  position: relative;
}
@media screen and (min-width: 700px) {
  .lower .menu {
    width: 63%;
  }
}
@media screen and (min-width: 1100px) {
  .lower .menu {
    width: 35%;
    height: 43%;
  }
}
.lower .menu__new {
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #99e2d0;
  color: #278870;
}
.lower .menu__image {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.lower .menu__choix {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lower .menu__choix__texte {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4%;
}
.lower .menu__choix .nom {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
}
@media screen and (min-width: 700px) {
  .lower .menu__choix .nom {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .lower .menu__choix .nom {
    margin-bottom: -1rem;
  }
}
.lower .menu__choix .endroit {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
  margin-top: -15%;
}

.header {
  position: relative;
}
.header i {
  position: absolute;
  top: 1.4rem;
  left: 1.1rem;
  color: black;
  font-size: 1.2rem;
}
@media screen and (min-width: 700px) {
  .header i {
    top: 1.7rem;
    left: 1.8rem;
  }
}
@media screen and (min-width: 1100px) {
  .header i {
    top: 1.9rem;
    left: 2.5rem;
  }
}

.mainctr {
  width: 100%;
  height: 1580px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pagemenu-image {
  width: 100%;
  height: 280px;
  position: absolute;
  top: 0rem;
}
@media screen and (min-width: 1100px) {
  .pagemenu-image {
    height: 420px;
  }
}
.pagemenu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menuctr {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3rem 3rem 0rem 0rem;
  background-color: #ededed;
  position: absolute;
  top: 14rem;
}
@media screen and (min-width: 700px) {
  .menuctr {
    top: 15rem;
  }
}
@media screen and (min-width: 1100px) {
  .menuctr {
    height: 1500px;
    top: 23rem;
  }
}
.menuctr__header {
  width: 100%;
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.5rem;
}
@media screen and (min-width: 700px) {
  .menuctr__header {
    justify-content: center;
  }
}
.menuctr__header p {
  font-family: "Shrikhand";
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 700px) {
  .menuctr__header p {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1100px) {
  .menuctr__header p {
    font-size: 2rem;
  }
}
.menuctr__contenu {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (min-width: 700px) {
  .menuctr__contenu {
    width: 70%;
  }
}
@media screen and (min-width: 1100px) {
  .menuctr__contenu {
    width: 55%;
  }
}
.menuctr__contenu .plats {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menuctr__contenu .plats__header {
  width: 90%;
  height: 4%;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.1rem;
  position: relative;
  line-height: 0.8rem;
}
.menuctr__contenu .plats__header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.2em;
  width: 2.8rem;
  border-bottom: 0.2rem solid #99e2d0;
}
.menuctr__contenu .plats__choixbox {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menuctr__contenu .plats__choixbox .plats__choix {
  display: flex;
  width: 95%;
  height: 26%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px #d6d4d4;
  overflow: hidden;
}
@media screen and (min-width: 1100px) {
  .menuctr__contenu .plats__choixbox .plats__choix {
    height: 22%;
  }
}
.menuctr__contenu .plats__choixbox .plats__choix__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.menuctr__contenu .plats__choixbox .plats__choix__main .main__texte {
  margin-left: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid gray;
}
@media screen and (min-width: 1100px) {
  .menuctr__contenu .plats__choixbox .plats__choix__main .main__texte {
    margin-left: 1.5rem;
  }
}
.menuctr__contenu .plats__choixbox .plats__choix__main .main__texte .nom-plat {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 0.9rem;
}
@media screen and (min-width: 1100px) {
  .menuctr__contenu .plats__choixbox .plats__choix__main .main__texte .nom-plat {
    margin-top: 0.9rem;
  }
}
.menuctr__contenu .plats__choixbox .plats__choix__main .main__texte .description-plat {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.02rem;
  margin-top: 0.3rem;
}
.menuctr__contenu .plats__choixbox .plats__choix__main .main__prix {
  width: 7%;
  margin-top: 2.5rem;
  margin-right: 1rem;
}
.menuctr__contenu .plats__choixbox .plats__choix__main .main__prix .prix {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.9rem;
}

.btn-menu {
  width: 60%;
  height: 5%;
  margin-top: 2rem;
}
@media screen and (min-width: 1100px) {
  .btn-menu {
    width: 33%;
  }
}

.footer-menu {
  margin-top: -3.5rem;
}
@media screen and (min-width: 1100px) {
  .footer-menu {
    margin-top: 18rem;
  }
}

#quatrechoix {
  height: 22%;
}

.plats__choix--1 {
  animation: menuslide 1s 200ms backwards ease-in;
}

.plats__choix--2 {
  animation: menuslide 1s 400ms backwards ease-in;
}

.plats__choix--3 {
  animation: menuslide 1s 600ms backwards ease-in;
}

.plats__choix--4 {
  animation: menuslide 1s 800ms backwards ease-in;
}

.plats__choix:hover .plats__choix__checkbox {
  margin-right: 0px;
  transition: all 700ms linear;
}
.plats__choix:hover .plats__choix__checkbox > .check {
  transform: rotate(360deg);
}

.plats__choix__checkbox {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -120px;
  transition: all 700ms linear;
}
@media screen and (min-width: 700px) {
  .plats__choix__checkbox {
    width: 14%;
  }
}
@media screen and (min-width: 1100px) {
  .plats__choix__checkbox {
    width: 11%;
  }
}
.plats__choix__checkbox .check {
  width: 50%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  border-radius: 50%;
  background-color: white;
  transition: transform 600ms 150ms linear;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*# sourceMappingURL=stylesheet.css.map */
