@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';


.header{
    @include measure(100%, 100px);
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    &__logo{
        @include measure(100%, 47%);
        @include flexCenter;
        font-family: family(special);
        font-size: 1.8rem;
        box-shadow:3px 5px 6px #dad8d8;
    }
    &__location{
        @include measure(100%, 50%);
        @include flexCenter;
        @include fontIntro(family(normal),weight(medium),1rem);
        background-color:#ededed;
        &__texte{
            margin-left:1rem;
        }
    }
}

.intro{
    @include measure(100%, 330px);
    @include flexAlign(flex,column,none,center);
    background-color:$color-quaternary;
    padding-bottom:5%;
    &__header{
        @include measure(80%, 27%);
        @include fontIntro(family(normal),weight(bold),1.7rem);
        @include flexCenter;
        text-align: center;
    }
    &__texte{
        height:18%;
        @include fontIntro(family(normal),weight(regular),1.2rem);
        text-align: center;
        margin-top:-5%;
    }
    &__btn{
        @include measure(70%, 16%);
        @include fontIntro(family(normal),weight(medium),1.1rem);
        @include flexCenter;
        background-image:linear-gradient($color-secondary,$color-primary);
        color:white;
        
        border-radius:2rem;
    }
}

.mid{
    @include measure(100%, 380px);
    display:flex;
    flex-direction: column;
    margin-top:13%;
    &__header{
        @include fontIntro(family(normal),weight(bold),1.6rem);
        @include measure(70%, 10%);
    }
    &__ctr{
        @include measure(100%, 90%);
        @include flexAlign(flex,column,space-around,center);
        &__step{
            @include flexAlign (flex,row,flex-start,center);
            @include measure(85%, 25%);
            border-radius:1.5rem;
            background-color: $color-quaternary;
            box-shadow:3px 5px 10px #dad8d8; 
        }
        .step__num{
            @include measure(1.2rem,1.2rem);
            @include flexCenter;
            @include fontIntro(family(normal),weight(medium),0.8rem);
            color:white;
            background-color:$color-primary;
            border-radius:2rem;
            margin-left:-3%;
            padding:0.2rem;
            &:hover{ /*not working*/
                background:lighten($color-primary,10);
            }
        }
        i{
            color:#706e6e;
            margin-left:6%;
        }
        .step__texte{
            @include fontIntro(family(normal),weight(bold),1rem);
            margin-left:10%;
        }
    }
}

.lower{
    @include measure(100%,1000px);
    @include flexAlign(flex,column,space-around,none);
    background-color:$color-quaternary;
    margin-top: 20%;
    &__header{
        @include measure(60%,4%);
        @include fontIntro(family(normal),weight(bold),1.8rem);
        margin-left:2%;
        border:1px solid gray;
    }
    &__ctr__menu{
        @include measure(100%,90%);
        @include flexAlign(flex,column,space-around,center);
        border:1px solid gray;
    }
    .menu{
        @include measure(90%,23%);
        @include flexAlign(flex,column,none,none);
        border:1px solid gray;
        border-radius:1rem;
    }
}