.btn{
    @include measure(70%, 16%);
    @include fontStyle(family(normal),weight(medium),1.1rem);
    @include flexCenter;
    background:linear-gradient($color-secondary,$color-primary);
    color:white;
    border-radius:2rem;
    box-shadow:3px 5px 6px #dad8d8;
    &:hover{
        background: linear-gradient( rgba(255, 121, 218, 0.9),rgba(147, 86, 220, 0.9));
        box-shadow:3px 5px 6px darken(#dad8d8,15);
    }

    // tablet //
    @include breakpoint(tablet){
        @include measure (50%,18%);
    }

     //laptop//
     @include breakpoint(laptop){
        @include measure (37%,23%);
     }

}