// hide container while spinner loads then bring back container when spinner ends //
.container{ //home page//
    width:100%;
    overflow:hidden;
    position:absolute;
    z-index:1;
    animation: container 0ms $container-delay both;
}