.footer{
    @include measure(100%,250px);
    @include flexBox(flex,column,space-around,none);
    background-color:rgb(53, 49, 49);

     //tablet//
    @include breakpoint(tablet){
        height:210px;
        justify-content: space-between;
        align-items: center;
     }
     //laptop//
     @include breakpoint(laptop){
        height:260px;
     }

    &__header{
        @include measure(50%,10%);
        @include fontStyle(family(special),weight(none),1.2rem);
        color:white;
        margin: 1.8rem 0 2rem 1.8rem;
        

        //tablet//
        @include breakpoint(tablet){
            font-size: 1.4rem;
            @include flexCenter;
            margin-top:2.2rem;
        }
        //laptop//
        @include breakpoint(laptop){
            font-size: 1.6rem;
            margin-top: 2.8rem;
        }
    }
    &__ctr{
        @include measure(65%,90%);
        @include flexBox(flex,column,none,none);
        margin-left:5%;

        //tablet//
        @include breakpoint(tablet){
            @include measure(75%,55%);
            flex-direction: row;
            justify-content: space-around;
            margin-right:3rem;
        }
        //laptop//
        @include breakpoint(laptop){
         @include measure(70%,45%);
         margin-right:4rem;
         
     }

        &__texteicon{
            @include flexBox(flex,row,none,none); 
            margin-bottom:0.7rem; 
            //tablet//
             @include breakpoint(tablet){
                 width:25%;
             }
            //laptop//
            @include breakpoint(laptop){
                width:20%;
            }
        }
        i{
            font-size:1rem;
            color:white;
            margin-left:0.8rem;
        }
        .texteicon{
            @include fontStyle(family(normal),weight(bold),1rem);
            color:white;
            margin-left:0.7rem;

            //laptop//
            @include breakpoint(laptop){
                font-size:1.1rem;
             } 
        }
        &__texte{
            @include fontStyle(family(normal),weight(regular),1rem);
            color:white;
            margin-left:0.8rem; 
            margin-bottom:0.7rem;

            //laptop//
             @include breakpoint(laptop){
                font-size:1.1rem;
             } 
        }
        
    }
}