.loaderctr{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    animation: disappear $dis-dur $dis-delay forwards;
}

.loader{
    border:0.4rem solid black;
    border-radius:0.8rem;
    padding:0.2rem;
    &__bar{
        background-color: $color-tertiary;
        border-radius:0.9rem;
        @include measure (20rem,1.2rem);
        
        animation: progress $prog-dur $prog-delay both;
        transform-origin: left;

        //tablet//
        @include breakpoint(tablet){
            @include measure (25rem,1.7rem);
        }
    }
}