.location{
    @include measure(100%,55px);
    @include flexCenter;
    @include fontStyle(family(normal),weight(medium),1rem);
    background-color:#ededed;
    margin-top:0.2rem;
   
    //tablet//
    @include breakpoint(tablet){
        font-size:1.2rem;
    }
    //laptop//
    @include breakpoint(laptop){
        font-size:1.3rem;
    }
    &__texte{
        margin-left:1rem;
    }
}

.intro{
    @include measure(100%, 330px);
    @include flexBox(flex,column,none,center);
    background-color:$color-quaternary;
    
    &__header{
        @include measure(80%, 27%);
        @include fontStyle(family(normal),weight(bold),1.7rem);
        @include flexCenter;
        text-align: center;
        margin-top:2rem;
    }
    &__texte{
        height:18%;
        @include fontStyle(family(normal),weight(regular),1.2rem);
        text-align: center;
        margin-top:0.3rem;
        margin-bottom:1rem;
        

        //tablet//
        @include breakpoint(tablet){
            width:60%;
        }

        //laptop//
        @include breakpoint(laptop){
            margin-top:-1%;
            width:35%;
        }
    }
}
.mid{
    @include measure(100%, 350px);
    @include flexBox(flex,column,none,none);
    margin-top:13%;
    //tablet//
    @include breakpoint(tablet){
        height:470px;
    }
    //laptop//
    @include breakpoint(laptop){
        margin-top:7%;
    }
    &__header{
        @include fontStyle(family(normal),weight(bold),1.6rem);
        @include measure(70%, 10%);
        margin-left:4%;
        //tablet//
        @include breakpoint(tablet){
            @include measure(50%, 10%);
            margin-left:19%;
        }
         //laptop//
         @include breakpoint(laptop){
            width:40%;
            @include flexCenter;
         }
    }
    &__ctr{
        @include measure(100%, 90%);
        @include flexBox(flex,column,space-around,center);
         //laptop//
         @include breakpoint(laptop){
           @include measure(100%, 95%);
         }
        &__step{
            @include flexBox(flex,row,flex-start,center);
            @include measure(85%, 23%);
            border-radius:1.5rem;
            background-color: $color-quaternary;
            box-shadow:3px 5px 10px #dad8d8; 
            &:hover{
                background-color:lighten($color-primary,35);
            }

            //tablet//
            @include breakpoint(tablet){
                @include measure (60%,27%);
            }

             //laptop//
            @include breakpoint(laptop){
                @include measure (40%,26%);
         }
        }
        .step__num{
            @include measure(1.2rem,1.2rem);
            @include flexCenter;
            @include fontStyle(family(normal),weight(medium),0.8rem);
            color:white;
            background-color:$color-primary;
            border-radius:2rem;
            margin-left:-0.6rem;
            padding:0.2rem;
        }
        i{
            color:#706e6e;
            margin-left:1.7rem;
            //tablet//
            @include breakpoint(tablet){
            margin-left:2.5rem;
            }
        }
        .step__texte{
            @include fontStyle(family(normal),weight(bold),1rem);
            margin-left:2rem;

             //tablet//
             @include breakpoint(tablet){
                margin-left:2.5rem;
                font-size:1.1rem;
                }
            //laptop//
             @include breakpoint(laptop){
                 font-size:1.2rem;
             }
        }


    }
}

.lower{
    @include measure(100%,1200px);
    @include flexBox(flex,column,flex-start,none);
    background-color:$color-quaternary;
    margin-top: 20%;

    //laptop//
    @include breakpoint(laptop){
        height:950px;
        margin-top:8%;
    }
    &__header{
        @include measure(60%,3%);
        @include fontStyle(family(normal),weight(bold),1.5rem);
        margin: 3.5rem 0 1rem 1rem;

        //tablet//
        @include breakpoint(tablet){
            @include measure(45%,3%);
            @include flexCenter;
            margin-top:3rem;
        }
           //laptop//
         @include breakpoint(laptop){
            @include measure(15%,7%);
            font-size: 1.8rem;
            margin:3rem 0 0 3.5rem;
         }
    }
    &__ctr__menu{
        @include measure(100%,85%);
        @include flexBox(flex,column,space-around,center);

        //laptop//
         @include breakpoint(laptop){
            flex-direction:row;
            flex-wrap: wrap;
            height:80%;
         }
    }
    a{
        text-decoration:none;
    }
    .menu{
        @include measure(90%,23%);
        @include flexBox(flex,column,none,none);
        border-radius:1rem;
        background-color: white;
        box-shadow:3px 5px 6px #dad8d8;
        position:relative;

        //tablet//
        @include breakpoint(tablet){
            width:63%;
        }
        //laptop//
        @include breakpoint(laptop){
            @include measure(35%,43%);
        }

        &__new{
            position:absolute;
            top:13px;
            right:13px;
            padding:0.5rem;
            border-radius:0.2rem;
            @include fontStyle(family(normal),weight(bold),0.9rem);
            background-color: $color-tertiary;
            color:darken($color-tertiary,40);
        }
        
        &__image{
            @include measure(100%,65%);
            object-fit: cover;
            border-radius:1rem 1rem 0rem 0rem;
        }
        &__choix{
            @include measure(100%,35%);
            @include flexBox(flex,row,space-between,none);
            &__texte{
                @include measure(60%,100%);
                @include flexBox(flex,column,space-around,none);
                margin-left:4%;
            }
            &__coeur{
                @include measure(25%,90%);
                @include flexCenter;
                position:relative;
                &:hover{
                    .far{
                        opacity:0;
                    }
                    .fas{
                        opacity:1;
                    }
                }
                
            }
            .nom{
                @include fontStyle(family(normal),weight(bold),1.2rem); 
                color:black;

                 //tablet//
                 @include breakpoint(tablet){
                    margin-bottom: 1rem;
                 }
                  //laptop//
                 @include breakpoint(laptop){
                    margin-bottom:-1rem;
                 }
            }
            .endroit{
                @include fontStyle(family(normal),weight(regular),1.1rem);
                color:black;
                margin-top:-15%;
            }
            .far{
                font-size:1.5rem;
                color:black;
                position:absolute;
                opacity:1;
            }
            .fas{
                font-size:1.5rem;

                // not working // find fix //
                background:-webkit-gradient(linear, left top, right bottom, from($color-primary), to($color-secondary));
                background-clip:text;
                -webkit-background-clip: text;
                opacity: 0;
            }
        }
    }
}

