.header{
    position:relative;
    i { 
        position:absolute;
        top:1.4rem;
        left:1.1rem;
        color:black;
        font-size: 1.2rem;
         //tablet//
         @include breakpoint(tablet){
        top:1.7rem;
        left:1.8rem;
        }
        //laptop//
        @include breakpoint(laptop){
        top:1.9rem;
        left:2.5rem;
        }
    }
}
.mainctr{
    @include measure (100%,1580px);
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.pagemenu-image{
    @include measure (100%,280px);
    position:absolute;
    top:0rem;
    //laptop//
    @include breakpoint(laptop){
        height:420px;
    }
    img{
    @include measure(100%, 100%);
    object-fit: cover;
    }
}
.menuctr{
    @include measure (100%,1300px);
    @include flexBox (flex,column,flex-start,center);
    border-radius:3rem 3rem 0rem 0rem;
    background-color:#ededed;//change to color-quaternary//
    position:absolute;
    top:14rem;
    //tablet//
    @include breakpoint(tablet){
        top:15rem;
    }
    //laptop//
    @include breakpoint(laptop){
        height:1500px;
        top:23rem;
    }
    
    &__header{
        @include measure(100%,5%);
        @include flexBox(flex,row,space-around,center);
        margin-top:2.5rem;
        //tablet//
        @include breakpoint(tablet){
            justify-content: center;
        }
        p{
            @include fontStyle(family(special),weight(none),1.8rem);
            margin-left:0.5rem;
             //tablet//
             @include breakpoint(tablet){
             margin-left:5rem;
        }
            //laptop//
            @include breakpoint(laptop){
                font-size: 2rem;
    }
        }
        .heart-menu{
            margin-right:0.5rem;
            //tablet//
            @include breakpoint(tablet){
                margin-left:3rem;
            }
            &:hover{
                .far{
                    opacity:0;
                }
                .fas{
                    opacity:1;
                }
            }
        }
        .far{
            font-size:1.5rem;
            color:black;
            position:absolute;
            opacity:1;
        }
        .fas{
            font-size:1.5rem;
            background:gradient(linear,left top, left bottom, from($color-primary), to($color-secondary));
            background-clip: text;
            opacity:0;
        }
    }
    &__contenu{
        @include measure(100%,75%);
        @include flexBox(flex,column,space-between,none);
        margin-top:1rem;
        //tablet//
        @include breakpoint(tablet){
            width:75%;
            }
        //laptop//
        @include breakpoint(laptop){
             width:55%;
        }
        .plats{ 
            @include measure(100%,32%);
            @include flexBox(flex,column,space-around,center);
            &__header{
                @include measure(90%,5%);
                @include fontStyle(family(normal),weight(regular),1.1rem);
                position:relative;
                line-height: 0.8rem;
            }
            &__header:before{
                position:absolute;
                left:0;
                top:1.2em;
                width:2.8rem;
                content:'';
                border-bottom:0.2rem solid $color-tertiary;
            }
            &__choix{
                @include measure(95%,23%);
                @include flexBox(flex,row,space-between,none);
                background-color:white;
                border-radius: 1rem;
                box-shadow:4px 4px 8px #d6d4d4;
                //laptop//
                @include breakpoint(laptop){
                    height:22%;
                }
                &__texte{
                    margin-left:0.8rem;
                    @include breakpoint(laptop){
                       margin-left:1.5rem;
                       margin-top:0.3rem;
                     }
                    .nom-plat{
                        @include fontStyle(family(normal),weight(bold),1.1rem); 
                        margin-top:0.9rem;
                        @include breakpoint(laptop){
                            margin-top:0.9rem;
                        }
                    }
                    .description-plat{
                        @include fontStyle(family(normal),weight(regular),0.9rem); 
                        margin-top:0.3rem;
                    }

                }
                &__prix{
                    margin:1.3rem 1rem 0 0;
                    .prix{
                        @include fontStyle(family(normal),weight(bold),0.9rem); 
                    }
                }
            }
        }
    }
    .btn-menu{
        @include measure (60%,5%);
        margin-top:3.5rem;
        //laptop//
        @include breakpoint(laptop){
            width:33%;
       }
    }
}
.footer-menu{
    margin-top:-3.5rem;
    @include breakpoint(laptop){
        margin-top:18rem;
     }
}