.header{
    position:relative;
    i { 
        position:absolute;
        top:1.4rem;
        left:1.1rem;
        color:black;
        font-size: 1.2rem;
         //tablet//
         @include breakpoint(tablet){
        top:1.7rem;
        left:1.8rem;
        }
        //laptop//
        @include breakpoint(laptop){
        top:1.9rem;
        left:2.5rem;
        }
    }
}
.mainctr{
    @include measure (100%,1580px);
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.pagemenu-image{
    @include measure (100%,280px);
    position:absolute;
    top:0rem;
    //laptop//
    @include breakpoint(laptop){
        height:420px;
    }
    img{
    @include measure(100%, 100%);
    object-fit: cover;
    }
}
.menuctr{
    @include measure (100%,1300px);
    @include flexBox (flex,column,flex-start,center);
    border-radius:3rem 3rem 0rem 0rem;
    background-color:#ededed;//change to color-quaternary//
    position:absolute;
    top:14rem;
    //tablet//
    @include breakpoint(tablet){
        top:15rem;
    }
    //laptop//
    @include breakpoint(laptop){
        height:1500px;
        top:23rem;
    }
    
    &__header{
        @include measure(100%,5%);
        @include flexBox(flex,row,space-around,center);
        margin-top:2.5rem;
        //tablet//
        @include breakpoint(tablet){
            justify-content: center;
        }
        p{
            @include fontStyle(family(special),weight(none),1.8rem);
            margin-left:0.5rem;
             //tablet//
             @include breakpoint(tablet){
             margin-left:5rem;
            }
            //laptop//
            @include breakpoint(laptop){
                font-size: 2rem;
            }
        }
    }
    &__contenu{
        @include measure(100%,75%);
        @include flexJustify(flex,column,space-between);
        margin-top:1rem;
        //tablet//
        @include breakpoint(tablet){
            width:70%;
            }
        //laptop//
        @include breakpoint(laptop){
             width:55%;
            }
        .plats{ 
            @include measure(100%,32%);
            @include flexBox(flex,column,space-around,center);
            &__header{
                @include measure(90%,5%);
                @include fontStyle(family(normal),weight(regular),1.1rem);
                position:relative;
                line-height: 0.8rem;
            }
            &__header:after{
                content:'';
                position:absolute;
                left:0;
                top:1.2em;
                width:2.8rem;
                border-bottom:0.2rem solid $color-tertiary;
            }
            &__choix{
                display:flex;
                
                @include measure(95%,23%);
                background-color:white;
                border-radius: 1rem;
                box-shadow:4px 4px 8px #d6d4d4;
                overflow:hidden;
                
                //laptop//
                @include breakpoint(laptop){
                    height:22%;
                }
                
                &__main{
                    @include measure(100%,100%);
                    display:flex;
                    justify-content: space-between;     
                
                    .main__texte{
                        width:80%;
                        margin-left:0.8rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space:nowrap;
                        //border:1px solid gray;//
                        @include breakpoint(laptop){
                        margin-left:1.5rem;
                        }
                        .nom-plat{
                            width:100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space:nowrap;
                            @include fontStyle(family(normal),weight(bold),1.1rem); 
                            margin-top:0.9rem;
                            @include breakpoint(laptop){
                                margin-top:0.9rem;
                            }
                        }
                        .description-plat{
                            width:100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space:nowrap;
                            @include fontStyle(family(normal),weight(regular),1rem); 
                            margin-top:0.3rem;
                        }
                    }

                    .main__prix{
                        width:7%;
                        margin-top:2.5rem;
                        margin-right:1rem;
                    
                        .prix{
                         @include fontStyle(family(normal),weight(bold),0.9rem); 
                        }
                    }
                }
            }
        }
    }  
}

.btn-menu{
    @include measure (60%,5%);
    margin-top:3.5rem;
    //laptop//
    @include breakpoint(laptop){
        width:33%;
   }
}

.footer-menu{
    margin-top:-3.5rem;
    //laptop//
    @include breakpoint(laptop){
        margin-top:18rem;
    }
}

// menuslide animation //
.plats__choix--1{
    animation:menuslide 800ms 200ms backwards ease-in;
}
.plats__choix--2{
    animation:menuslide 800ms 400ms backwards ease-in;
}
.plats__choix--3{
    animation:menuslide 800ms 600ms backwards ease-in;
}

// checkbox animation //
.plats__choix{
    &:hover {
        & .plats__choix__checkbox{
            margin-right:0px;
            transition:all 700ms linear;
            & > .check{ 
            transform:rotate(360deg);
            }
        }
    }
}

.plats__choix__checkbox{
    @include measure(100px,100%);
    @include flexCenter;
    background-color: $color-tertiary;
    border-radius: 0 1rem 1rem 0;
    margin-right:-100px;
    transition: all 700ms linear;

     //tablet//
     @include breakpoint(tablet){
        width:14%;
     }
     //laptop//
        @include breakpoint(laptop){
        width:11%;
    }
   
    .check{
        @include measure(50%,45%);
        @include flexCenter;
        color:$color-tertiary;
        border-radius:50%;
        background-color: white;
        transition:transform 600ms 150ms linear;
    }
}
